<template name="cardContentItemLabel">
    <span class="card-header-label">
        {{{getCardTypeLabel this.cardType}}}<br>
        {{#if gotDifficulty this.cardType}}
            {{{getDifficultyLabel this.cardType this.difficulty}}}<br>
        {{/if}}
        {{#if isInBonus}}
            {{{getBonusLabel true}}}<br>
        {{/if}}
        {{{getTranscriptBonusLabel this}}}<br>
        {{> filterIndexItemBottomTranscriptRating}}<br>
        {{> filterIndexItemBottomStarsRating}}
        {{> filterIndexItemBottomAboutThisRating}}
    </span>
</template>
