<template name="cardsetLabels">
    <span class="label-group">
         {{#unless gotTranscriptBonusAndIsNotShuffled this._id}}
             {{#unless gotTranscriptBonusAndIsNotShuffled this.cardset_id}}
                 <span class="label label-count-cards" title="{{_ "cardset.info.quantity"}}">
                     {{getCardsetCardCount}}
                 </span>
             {{/unless}}
         {{/unless}}
        {{#if gotTranscriptBonus this._id}}
            {{#unless this.shuffled}}
                <span class="label label-count-transcripts" title="{{_ "transcriptForm.info.submissions"}}">
                    {{getTranscriptSubmissions this}}
                </span>
            {{/unless}}
        {{/if}}
        {{{getLecturerAuthorizedLabel this}}}
        {{{getWordcloudLabel this}}}
        {{#unless isTranscriptRoute}}
            {{#unless isBonusTranscriptsRoute}}
                {{{getKind this.kind 0}}}
                {{{getShuffleLabel this.shuffled}}}
            {{/unless}}
        {{/unless}}
        {{#unless this.shuffled}}
            {{{getCardTypeLabel this.cardType}}}
            {{{getDifficultyLabel this.cardType this.difficulty}}}
        {{/unless}}
        {{{getBonusLabel this.learningActive}}}
        {{{getTranscriptBonusLabel this}}}
        {{> filterIndexItemBottomDeadline}}
        {{> filterIndexItemBottomTranscriptRating}}
        {{> filterIndexItemBottomStarsRating}}
    </span>
</template>
