<template name="cardsetIndexTranscriptSettingsItemDeadlineEditing">
    <label>{{_ "transcriptForm.bonus.form.deadline.editing"}}:&nbsp;</label>
    <input type="number" id="deadlineHoursEditing" min="48" max="168" step="12" value="36" required>
    <span class="unit">{{_ "transcriptForm.bonus.form.hours_plural"}}</span>
    <br>
</template>
