<template name="cardsetNavigationBonus">
    {{#if enableIfPublished}}
        {{#if gotLearningModes}}
            {{#if isCardsetOwnerAndLecturer _id}}
                <div class="hidden-xs btn-group">
                    <button class="btn btn-sm btn-raised bonusBtn" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <div class="flex-content">
                            <i class="fas fa-graduation-cap"></i>&nbsp;{{_ "sidebar-nav.bonus"}} <span
                                class="caret"></span>
                        </div>
                    </button>
                    <ul class="dropdown-menu">
                        {{#if learningActive}}
                            <li id="showStats" class="showStatsList">
                                <i class="fas fa-clipboard-list"></i> {{_ "cardset.tooltip.displayBonusStats"}}
                            </li>
                            <li id="manageBonus"
                                class="manageLearn manageLearningList learnBoxActive">
                                <i class="fas fa-cog"></i> {{_ "bonus.form.edit.title"}}
                            </li>
                            <li id="stopBonus"
                                class="stopLearn stopLearningList learnBoxActive"
                                data-toggle="modal"
                                data-target="#confirmEndLearnModal">
                                <i class="fas fa-exclamation-triangle"></i> {{_ "sidebar-nav.stopLearning"}}
                            </li>
                        {{else}}
                            <li id="startBonus"
                                class="startLearn startLearningList">
                                {{_ "bonus.form.new.title"}}
                            </li>
                        {{/if}}
                    </ul>
                </div>
            {{/if}}
        {{/if}}
    {{/if}}
</template>
