<template name="useCasesModal">
    <div class="modal fade" id="useCasesModal" tabindex="-1" role="dialog" aria-labelledby="useCasesTitle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-icon">
                        {{{getNavigationName "useCasesIcon"}}}
                    </span>
                    {{> mainModalItemCloseIcon}}
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr class="hidden-xs">
                                <th colspan="2">
                                    {{getWelcomeMessage getFirstName}}
                                </th>
                            </tr>
                            <tr class="visible-xs">
                                <th>
                                    {{getWelcomeMessage getFirstName}}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {{> useCasesItemCreate}}
                            {{> useCasesItemWorkload}}
                            {{> useCasesItemMyTranscripts}}
                            {{> useCasesItemMyCardsets}}
                            {{> useCasesItemMyRepositories}}
                            {{> useCasesItemPool}}
                            {{> useCasesItemRepetitorium}}
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
